.man_content{width: 1000px;margin: 30px auto}
.man_content .left{width: 30%;border:1px solid #ccc;background: #fff}
.left .head_title{height: 40px;width: 96%;margin-left: 2%;line-height: 40px;margin-top: 10px;border-bottom: 1px solid #eee}
.left .head_title h1{font-size: 16px;}
.left .head2{margin-top: 20px;width: 96%;margin-left: 2%;}
.left .head2 h2{color: #aaa}
.left .meau_list{margin-top: 50px;width: 100%;}
.left .meau_list .menulist{height: 50px;padding-left: 10%;width: 90%;line-height: 50px;font-size: 14px;border-top:1px solid #eee;cursor: pointer;}
.left .meau_list .menulist:hover{background: #e5e5e5;border-right: 3px solid #26a693}
.left .meau_list .menulist.active{background: #e5e5e5;border-right: 3px solid #26a693;cursor: auto;}
.block{display: block;}
.man_content .right{width: 65%;margin-left: 4%}
.right .right_condiv h1{margin-top: 10px;font-size: 20px;}
.right .right_condiv hr{margin-top: 15px;}

.error{color: red}
.full{width: 100%;height: 100%;border:none;background: none;}/*全填充*/

.right .typelist_div{margin-top: 20px;}
.right .typelist_div .type_list{height: 30px;line-height: 30px;margin-top: 10px;}
.right .typelist_div .type_list:hover{background: #eee}
.type_list .type_text{height: 30px;width: 200px;}
.type_list .type_text.hiden{display: none;}
.type_list .type_input{height: 30px;width: 195px;border:1px solid #ccc;background: #fff;border-radius: 3px;padding-left: 5px}
.type_list .changetype_button{height: 30px;width: 100px;cursor: pointer;margin-left: 10px;color: red}
.type_list .savetype_button{height: 30px;width: 100px;cursor: pointer;margin-left: 10px;color: green}


.filetype_mandiv .addtype_div{margin-top: 20px;}
.filetype_mandiv .addtype_div h2{font-size: 16px;}
.addtype_div .addline_div{margin-top: 15px;height: 30px;}
.addline_div .add_textbox{height: 30px;width: 200px;padding-left: 5px;border:1px solid #ccc;background: #fff;border-radius: 3px;}
.addline_div .saveaddtype_button{height: 30px;width: 100px;color: green}
.addline_div .caneladdtype_button{height: 30px;width: 100px;color:red;}
.addline_div .add_but{height: 30px;width: 100px;color: green}

.dept_list .dept_list_div{height: 40px;line-height: 40px;vertical-align: middle;padding-left: 10px;}
.dept_list .dept_list_div:hover{background: #eee;}
.dept_list .dept_list_div .deptname_la{width: 200px;height: 40px;line-height: 40px;cursor: pointer;}
.dept_list .deptname_textbox{height: 30px;width: 193px;padding-left: 5px;border-radius: 3px;border:1px solid #ccc;background: #fff}
.dept_list .savedept_button{height: 30px;width: 150px;color: #ccc;margin-left: 10px;}

.dept_list .savedept_button.ok{color: green;cursor: pointer;}
.dept_list .changedept_cancel{height: 30px;width: 150px;margin-left: 15px;cursor: pointer;}
.dept_list .changedept_button{height: 30px;width: 150px;color: red;cursor: pointer;display: none;}
.dept_list .dept_list_div:hover>.changedept_button{display: inline-block;}
.dept_list .dept_list_div:hover>.changedept_button.hiden{display: none;}
.h2_class_title{margin-top: 10px}
.class_mandiv .class_table{width: 600px;margin-top: 20px;border:1px solid #ccc;}
.class_mandiv .class_table tr{height: 30px}
.class_mandiv .class_table .tr1{background: #bbb;text-align: center;}
.class_mandiv .class_table .td1{text-align: center;}
.class_mandiv .class_table .td4{text-align: center;}
.class_infodiv .title{margin-left:15px;font-size: 18px;}
.class_infodiv .classsearch_div{margin-top: 15px;margin-left: 18px;}
.class_infodiv .gread_select{height: 24px;width: 80px;border:1px solid #ccc;}
.class_infodiv .remintext{margin-left: 15px;margin-top: 15px;}
.class_infodiv .classliat_table{margin-left: 15px;margin-top:15px;border:1px solid #bbb;}



/*专业列表*/

.major_table{margin-top: 20px;border:1px solid #6cc;margin-left: 15px;}
.major_table .table_head{background: #eee;text-align: center;}
.major_table td{height:24px; border-left: 1px solid #ccc;border-bottom: 1px solid #ccc}
.major_table .td1{width:100px;text-align: center; }
.major_table .td2{width:200px;}
.major_table .td3{width:80px;text-align: center; }
.major_table .td4{width:210px;text-align: center; }

.major_table .addmajor{background-color: #fff}
.major_table .tr1{background: #fff}
.major_table .tr2{background: #efefef}
.major_table .majorchange_input{display:none;height: 20px;border:1px solid #ccc;width: 80px;border:1px; color: #ccc;background: none;border-radius:3px;cursor: pointer;}
.major_table .list_tbocy tr:hover .majorchange_input{display: inline-block;}
.major_table .majorchange_input.ok{color: green;border:1px solid green;}
.major_table .majorname_div{cursor: pointer;line-height: 24px;padding-left: 5%;width: 95%}
.major_table .majorname_div:hover{color: green;text-decoration: underline;}
.major_table .majorname_text{padding-left: 5%;width: 95%}

.addmajor .major_text{padding-left: 5%;width: 95%}
.addmajor .addmojor_but{background: none;color: #ccc;border:1px solid #ccc;height: 20px;width: 80px;display: none;border-radius: 3px;}
.addmajor .addmojor_but.ok{border:1px solid green;color: green;cursor: pointer;}
.major_table .addmajor:hover>td>.addmojor_but{display: inline-block;} 
/*院系列表*/
.dept_list .dept_list_div .deptname_la:hover{color: green;text-decoration: underline;}
.dept_list .dept_list_div .deptname_la.hiden{display: none;}

.classliat_table .table_head{background: #ccc;height: 30px;text-align: center;}
.classliat_table td{border-right:1px solid #ccc;text-align: center;height: 30px;border-bottom: 1px solid #ccc}
.classliat_table .td0{width: 60px;}
.classliat_table .td1{width: 50px;}

.classliat_table .td2{width: 80px;}
.classliat_table .td3{width: 150px;}
.classliat_table .td7{width: 80px;line-height: 30px;}
.classliat_table .td7 .instrselect_div{cursor: pointer;}
.classliat_table .td7 .instrselect_div:hover{color: green;text-decoration: underline;}
.classliat_table .list .td3{text-align: left;}
.classliat_table .td4{width: 50px;}
.classliat_table .td5{width: 50px;}
.classliat_table .td6{width: 90px;border-right: none;}

.classliat_table .class_change{color: green;display: none;cursor: pointer;}
.classliat_table .list:hover>td>.class_change{display: inline-block;text-decoration: underline;}

.classliat_table .addclass .gread{width: 100%;height: 100%;border:none;cursor: pointer;}
.classliat_table .addclass .class_name{width: 98%;height: 100%;border:none;padding-left: 2%;background: #fff}
.classliat_table .addclass .class_num{width: 90%;height: 100%;border: none;padding-left: 10%}
.classliat_table .addclass .add_but{width: 50px;height: 20px;text-align: center;color: green;border:none;border-radius: 3px;background-color: transparent;cursor: pointer;}
.classliat_table .addclass .add_but:hover{border:1px solid green;}

.classliat_table .classname_div{width: 98%;height: 100%;line-height: 30px;padding-left: 2%}
.classliat_table .classname_text{width: 98%;height: 100%;border: none;padding-left: 2%}
.classliat_table .classgread_div{line-height: 30px;text-align: center;}

.class_infodiv .remain_text{margin-top: 20px;margin-left: 15px;line-height: 24px;}
.dept_list .class_infodiv{width: 100%;border:1px solid #ccc;padding-bottom: 20px;box-shadow: 0px 5px 8px #333 inset;padding-top: 20px;background-color: #cff}

.add_deptline_div{margin-top: 20px;height: 30px;}
.add_deptline_div .dept_name{height: 30px;width: 200px;padding-left: 5px;border-radius: 3px;border:1px solid #ccc;background: #fff}
.add_deptline_div .adddept_button{height: 30px;width: 150px;color: green;}
.add_classline_div{margin-top: 20px;height: 30px;cursor: pointer;}
.add_classline_div .calss_namebox{height: 30px;width: 200px;padding-left: 5px;border-radius: 3px;border:1px solid #ccc;background: #fff}
.add_classline_div .dept_select{height: 30px;width: 150px;border-radius: 3px;border: 1px solid #ccc;margin-left: 5px;}
.add_classline_div .addclass_but{height: 30px;width: 150px;color: green;cursor: pointer;}
.teacher_mandiv .teachaerinfo_div{margin-top: 15px;}
.teachaerinfo_div .tea_info_line{height: 30px;line-height: 30px;}
.tea_info_line .changetea_info{height: 24px;width: 80px;margin-left: 20px;cursor: pointer;}
.tea_info_line .la_name{width: 50px;display: block;float: left; margin-left: 5px;}


.even{background: #eee}
.save{height: 30px;width: 100px;color: green;cursor: pointer;}
.cancel{height: 30px;width: 100px;color: red;cursor: pointer;}


/*辅导员管理模块*/
.instructor_mandiv .ins_serdiv{height: 24px;margin-top: 20px}
.instructor_mandiv .ins_serdiv .ser_txt{height: 22px;width:190px;padding-left:5px;padding-right:5px;border:none;border-bottom:1px solid #ccc;color:#ccc;line-height: 22px}
.instructor_mandiv .ins_serdiv .ser_txt:focus{border:none;border-bottom: 1px solid #9cf}
.instructor_mandiv .ins_serdiv .ser_but{height: 18px;width: 18px;background: url(../images/icon/icon_serch.png);cursor: pointer;margin-left: -22px;}
.instructor_mandiv .ins_serdiv .ser_but:hover{background: url(../images/icon/icon_searchhover.png);}
.instructor_mandiv .remain_text{margin-top: 50px;height: 12px;color:#c33;}
.instructor_mandiv .ins_table{margin-top: 50px;border:1px solid #ccc;text-align: center;}
.ins_table .tablehead td{background: #036;height: 30px;line-height: 30px;color: #fff;border-right:1px solid #ccc;border-bottom: 1px solid #ccc}
.ins_table .tr1 td{height:28px;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc}
.ins_table .tr2 td{height:28px;background: #eee;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc}
.ins_table .tablehead .td1{width:50px;}
.ins_table .tablehead .td2{width:92px;}
.ins_table .tablehead .td3{width: 60px;}
.ins_table .tablehead .td4{width: 130px; }
.ins_table .tablehead .td5{width: 100px;}
.ins_table .tablehead .td6{width: 211px;border-right: none;}

.ins_table .list_tbody .td1{width:50px;}
.ins_table .list_tbody .td2{width:92px;}
.ins_table .list_tbody .td3{width: 60px;}
.ins_table .list_tbody .td4{width: 130px; }
.ins_table .list_tbody .td5{width: 100px;}
.ins_table .list_tbody .td6{width:211px;border-right: none;}


.ins_table .tr1 .td6{border-right: none;}
.ins_table .tr2 .td6{border-right: none;}

.ins_table .info_idv{width: 100%;height: 100%;border-bottom: 1px solid #ccc;box-shadow:0px 5px 10px #999 inset;padding-bottom: 20px; }
.ins_table .info_idv .idiv_left{width: 295px;margin-top:30px;height:200px;border-right: 1px solid #ccc; text-align: left;}

.ins_table .idiv_left .info_name{height: 30px;line-height: 30px;}
.ins_table .idiv_left .info_sex{height: 30px ;line-height: 30px;margin-top: 10px;}
.ins_table .idiv_left .info_phone{height: 30px;line-height: 30px;margin-top: 10px;}
.ins_table .idiv_left .la1{display: inline-block;width: 48px;height: 30px;line-height: 30px;text-align: right;margin-left: 10px;}
.ins_table .name_text,.phone_text{width: 110px;height: 23px;border:1px solid #ccc;border-radius: 3px;padding-left: 5px}

.ins_table .info_name .re_icon.ok{display: inline-block;height: 14px;width: 14px;;margin-left: 5px; }
.ins_table .info_name .re_icon.ok.hiden{display: none;}


.ins_table .info_name .re_icon.ok{background:url(../images/icon/ok.png)}
.ins_table .info_name .re_icon.error{background: url(../images/icon/error.png);}
.ins_table .info_name .re_text{margin-left: 5px;}
.ins_table .info_phone .ph_reicon{height: 14px;width: 14px ;display: inline-block;margin-left: 5px;}
.ins_table .info_phone .ph_reicon.ok{background:url(../images/icon/ok.png)}
.ins_table .info_phone .ph_reicon.error{background: url(../images/icon/error.png);}
.ins_table .info_phone .ph_reicon.error.hiden{display: none;}
.ins_table .info_phone .ph_retext{margin-left: 5px;}
.ins_table .info_button{height: 30px;margin-top: 25px;line-height: 30px;}
.ins_table .info_button .info_change{ color:#ccc;width: 100px;height: 30px;border:1px solid #ccc;border-radius: 3px;cursor: default;text-align: center;text-align: center;font-size: 16px;margin-left: 30px;background: #eee}
.ins_table .info_button .info_change.ok1.ok2{color: green;cursor: pointer;}
.ins_table .info_button .info_change.error{color: #ccc;cursor: default;}
.ins_table .info_button .info_repassword {width: 100px;height: 30px;text-align: center;margin-left: 20px;border:1px solid #ccc;background: #eee;cursor: pointer;border-radius: 3px;font-size: 16px;}
.ins_table .info_button .info_change.ok1.ok2:hover{background: #ccc}
.ins_table .info_button .info_change.error:hover{background: #eee}
.ins_table .info_button .info_repassword:hover{background: #ccc}

.ins_table .idv_right{margin-top: 30px;margin-left: 10px;text-align: left}
.ins_table .idv_right .info_title{font-size: 16px;}
.ins_table .idv_right p{margin-top: 10px;color: #c33}
.ins_table .idv_right .class_list{margin-top: 15px;border:1px solid #ccc;}
.idv_right .class_list td{height: 24px;cursor: default;}
.idv_right .class_list .td1{width: 20px;text-align: center;}
.idv_right .class_list .td2{width:85px;padding-left: 5px;}
.idv_right .class_list .td3{width: 176px;padding-left: 5px;}
.idv_right .class_list .td4{width: 38px;text-align: center;border-right: none;}
.idv_right .class_list .add_icon{width: 18px;height: 18px;display: inline-block;background: url(../images/icon/add.png);}

.idv_right .class_list .del_la{display: none;color: #c33;text-decoration: underline;cursor: pointer;}
.idv_right .class_list tr:hover>td{background: #f3f3f3}
.idv_right .class_list tr:hover>td>.del_la{display:block;}

.idv_right .class_list .depart_sele{width: 97%;border:1px solid #bbb;}
.idv_right .class_list .gread_sele{width: 60px;}
.idv_right .class_list .class_sele{width: 110px;}
.idv_right .class_list .add_la{color: #ccc;cursor: default;text-decoration: underline;display: none;}
.idv_right .class_list .add_la.ok{color: green;cursor: pointer;}
.idv_right .class_list tr:hover>td>.add_la{display:block;}

.ins_table .add_body .add_iocn{width: 18px;height: 18px;display: inline-block;background: url(../images/icon/add.png);}
.ins_table .add_body .add_but{width: 50px;height: 24px;cursor: pointer;color: #ccc}
.ins_table .add_body .add_but.ok1.ok2{color: green}
/*为辅导员列表添加经过样式*/
.ins_table .ins_tbody tr{cursor: pointer;}
.ins_table .ins_tbody .open_close{width: 14px ;height: 14px;}
.ins_table .ins_tbody .open_close.close{background: url(../images/icon/close.png);display: none;}
.ins_table .ins_tbody .open_close.open{background: url(../images/icon/open.png);display: inline-block;}
.ins_table .ins_tbody tr:hover>td>.open_close.close{display: inline-block;}
.ins_table .ins_tbody tr:hover>td{background: #f5f5f5}


.ins_table .add_body .addname_text{width: 84px}
.ins_table .add_body .daaphone_text{width: 122px;}

/*添加辅导员错误提示框*/
.add_body .errdiv{width:134px;height: 24px;border:1px solid #99CCFF;background: #f3f3f3;bottom:-26px;left:-25px;line-height: 24px;border-radius: 2px}
.add_body .errdiv .point{width: 0px;height: 0px;top:-8px; left:65px;z-index:10;border:4px solid transparent;border-bottom:4px solid #f3f3f3;}
.add_body .errdiv .point_border{width: 0px;height: 0px;top:-10px;left:64px;z-index:9;border: 5px solid transparent;border-bottom: 5px solid #99CCFF}
.add_body .phone.errdiv{left: -2px;}